h1{
    font-size: 24px;
}

table{
    span{
        width: 18px;
        height: 18px;
    }
    ul a{
        color: $gray-900;
    } 
}

.container{
    width: 100%;
    .add-admin{
        &:hover{
            color: $success;
            cursor: pointer;
        }
    }
    nav{
        margin-top: 63px;
    }
}


// check part
.row{
    height: 141px;
}
.modal-body{
    .col-md-4{
        width: 141px;
        height: 141px;
        background-image: url("../images/emir.jpeg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .col-md-8,.card-body{
        height: 141px;
    }
    .card-text{
        font-size: 14px;
    }
    .ver{
        background: $gray-100;
    }
}

// add admin part 
.addAdmin{
    h5{
        font-size: 20px;
        font-weight: bold;
    }
    .account input{
        height: 51px;
    }
    .customAccess{
        padding-bottom: 50px;
    }
}
