<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    <link rel="stylesheet" href="./assets/style/all.css">
  </head>

  <body class="d-flex">
    <aside class="d-flex flex-column justify-content-between pt-6 pb-5">
      <div class="side">
        <div class="side-group ps-5">
          <a href="#"><img src="./assets/images/logo-ANSWER.svg" alt="logo" class="mb-5"></a>
          <nav>
            <ul class="p-0">
              <a href="#" class="text-decoration-none aa">
                <ol class="mb-5 p-0 d-flex">
                  <span class="material-icons me-3">
                  poll
                  </span>
                  Dashboard
                </ol>
              </a>
              <a href="#" class="text-decoration-none">
                <ol class="mb-5 p-0 d-flex">
                  <span class="material-icons me-3">
                  question_answer
                  </span>
                  Question
                </ol>
              </a>
              <a href="#" class="text-decoration-none">
                <ol class="mb-5 p-0 d-flex">
                  <span class="material-icons me-3">
                  assignment
                  </span>
                  Assignment
                </ol>
              </a>
              <a href="#" class="text-decoration-none">
                <ol class="mb-5 p-0 d-flex">
                  <span class="material-icons me-3">
                  video_library
                  </span>
                  Course
                </ol>
              </a>
              <a href="#" class="text-decoration-none">
                <ol class="mb-5 p-0 d-flex">
                  <span class="material-icons me-3">
                  people_alt
                  </span>
                  Admin
                </ol>
              </a>
              <a href="#" class="text-decoration-none">
                <ol class="mb-5 p-0 d-flex">
                  <span class="material-icons me-3">
                  settings
                  </span>
                  Settings
                </ol>
              </a>
            </ul>
          </nav>
        </div>
      </div>
      <div class="ava d-flex ms-5">
        <a href="#" class="d-flex justify-content-center align-items-center me-3">
          <img src="./assets/images/andychen.jpeg" alt="ava">
        </a>
        <p class="m-0">Andy Chen<br><span>
          andy0401@mail.com</span>
        </p>
      </div>
    </aside>
    
    <%- contents %>

    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
  </body>

</html>